# Ignore everything by default
*

# But UN-ignore the .gitignore file itself
!.gitignore

# Un-ignore specific directories
!/nvim/
!/nvim/**
!/nushell/
!/nushell/**
!/tmux/
!/tmux/**
!/ghostty/
!/ghostty/**
!starship.toml

# Ignore junk files
.DS_Store
history.txt
